language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
env:
  - MPLBACKEND=Agg
install:
  - pip install -U pytest pytest-cov coveralls
  - pip install -e .
script:
  - pytest
after_success:
  - coveralls
