graft docs
graft examples
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include CHANGELOG.rst
include LICENSE.rst
include README.rst

include tox.ini
include requirements.txt

prune docs/source/auto_examples
prune docs/build*
prune examples/*
prune junit
prune tests/tmp_out
prune test_reports

exclude examples/*.png
include examples/aluminum_micro.png
exclude examples/*.txt
exclude *.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.log Icon*
