graft docs
graft examples
graft src
graft tests

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include CHANGELOG.rst
include LICENSE.rst
include README.rst

include tox.ini

prune docs/source/auto_examples
prune docs/build*
prune tests/tmp_out
prune examples/*
prune *.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.log Icon*
