aabbtree==2.5.0
matplotlib==3.7.2
pybind11==2.4.3
pygmsh==7.1.17
MeshPy==2018.2.1
numpy==1.24.4
pyquaternion==0.9.5
pyvoro-mmalahe==1.3.4
scipy==1.10.1
xmltodict==0.12.0
tox==3.14.0
lsq-ellipse==2.0.1
